::selection {
  color: #fff;
  background-color: #835afd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  color: #29292e;
}

input,
textarea {
  &:focus {
    outline: none;
    box-shadow: 0 0 5px 5px #835afd;
  }
}

body,
input,
button,
textarea {
  font: 400 16px 'Roboto', sans-serif;
}
